.support-form-popup {
    color: #ffffff;

    &__logo {
        margin: 0 auto;
        display: block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        // border: 10px solid rgba(236, 40, 48, 0.2);
        z-index: 20;

        & div {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #EC2830;
            border-radius: 50%;
            height: 100%;
            &::before {
                content: '';
                position: absolute;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                background: #EC283033;
                backdrop-filter: blur(13.800000190734863px);
                border: 10px solid rgba(236, 40, 48, 0.2);
                z-index: -1;
            }
        }
    }
    &__text-block {
        padding-top: 22px;

        @media screen and (max-width: @ipad) {
            padding-top   : 4px;
            padding-bottom: 0;
        }
    }

    &__title {
        font-size     : 36px;
        line-height   : 1.3;
        text-align    : center;
        font-weight   : 700;
        // padding-bottom: 40px;
        color:#000;

        @media screen and (max-width: @ipad) {
            font-size: 32px;
        }

        @media screen and (max-width: @mob) {
            font-size: 28px;
            padding-bottom: 20px;
        }
    }

    &__text {
        font-size     : 36px;
        line-height   : 40px;
        letter-spacing: 1%;
        text-align    : center;
        padding-bottom: 40px;
        color: #000;
        max-width     : 560px;
        margin: auto;

        @media screen and (max-width: @ipad) {
            font-size  : 20px;
            line-height: 1.3;
        }

        @media screen and (max-width: @mob) {
            font-size: 18px;
            padding-bottom: 20px;
        }
    }

    &__btns-block {
        text-align : center;
        padding-top: 40px;

        @media screen and (max-width: @ipad) {
            padding-top: 60px;
        }
    }

    &__for-input {
        position: relative;
        max-width: 350px;
        margin: auto;
    }
}

.support-form-popup__label {
    color: @color-text;
    font-size: 12px;
    line-height: 14px;
}
.support-form-popup__input {
    border       : 0;
    font-weight  : 400;
    color        : @color-text;
    height       : 48px;
    width        : 100%;
    font-size    : 18px;
    padding-left : 20px;
    padding-right: 20px;

    background   : #F3F5F5;
    opacity      : 0.8;
    border-radius: 14px;
    // text-align: center;

    &::-webkit-input-placeholder {
        color      : @color-text;
        opacity    : 1;
        font-weight: 400;
    }

    &::-moz-placeholder {
        color      : @color-text;
        opacity    : 1;
        font-weight: 400;
    }

    /* Firefox 19+ */
    &:-moz-placeholder {
        color      : @color-text;
        opacity    : 1;
        font-weight: 400;
    }

    /* Firefox 18- */
    &:-ms-input-placeholder {
        color      : @color-text;
        opacity    : 1;
        font-weight: 400;
    }
}